# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node / PHP
node_modules/
vendor/
composer.lock

# Builds / caches
dist/
coverage/
.cache/

# 3D binaries
*.glb
*.gltf
*.bin

# Env / secrets (no subir)
.env
.env.*
